.tooltip {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    text-align: center;
    background: white;
    border: 0;
    border-radius: 10px;
    color: black;		

  }