.tooltip-content {
    position: absolute;			
    text-align: center;			
    width: 150px;				
    height: auto;					
    padding: 2px;		
    color: black;		
    font: 12px sans-serif;		
    background-color: white;		
    pointer-events: none;		
}