/* .popover-content {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    text-align: center;
    background: white;
    border: 0;
    border-radius: 10px;
    color: black;		

  } */


/* .tooltip {
    padding: 5;
    outline: none;
    border: 1px soild #cdcdcd;
    border-color: rgba(0,0,0,.15);
    font-size: 12px;
    color: black;
    align-content: center;
    background-color: white;
    position: relative;
 }  */

 .highcharts-figure, .highcharts-data-table table {
    min-width: 500px; 
    max-width: 800px;
    margin: 1em auto;
}

#dependency-container {
    height: 800px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: auto; /*THIS RIGHT HERE*/
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
