<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Donut_Top10</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<div class="chart">
		</div>
		<div>
			<p>TEST<span id="results"></span>
			</p>
		</div>
		<figure class="highcharts-figure">
			<div id="container"></div>
			<p class="highcharts-description">
			
			</p>
		  </figure>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>
		<script type="text/javascript" src="../static/app.js"></script>
  </body>
</html>
