<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<head>
		<meta charset="utf-8">
		<title>Scatter Chart</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
	<body>
		<div class="chart">
		</div>
		<div>
			<p>TEST<span id="results"></span>
			</p>
		</div>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<script type="text/javascript" src="../static/app.js"></script>
  </body>
</html>
