body {
    background-image: url(https://raw.githubusercontent.com/jackie33g/UCI_Project-2/jeriel_p2/In%20Progress/jeriel/chocolate-background.jpg);
    color: white;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  /* img {
    box-shadow: 10px 10px 5px rgb(170, 114, 18);
  } */
  
  
  body.dark {
    background: black;
    color: white;
  }

.dependency {
    background-color: white;
    max-width: 700px;
    height: 700px;
    /* box-shadow: 10px 10px 5px rgb(170, 114, 18); */
}

.chart {
    background-color: white;
}
/* Donut Chart css */

#container {
    max-width: 600px;
    height: 600px;
      margin: 0 auto;
  }
  
  .highcharts-figure, .highcharts-data-table table {
    min-width: 600px;  
      max-width: 900px;
    margin: 0 auto;
  }
  
  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: auto;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
      font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }

  